<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Cliente: Mauricio</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Parabéns estes são os seus certificados...
    </ion-card-content>
  </ion-card>


  <!-- <ion-row>
      <ion-button type="submit" (click)="authService.signOut()" expand="block">Logout</ion-button>
    </ion-row> -->
</ion-content>